In [25]:
###       Uber Supply Demand Gap
###       By : Balakrishna Gadiyar
##        Purpose - This Solution document highlights the problem areas where uber is facing the supply demand gap

In [26]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [41]:
# Import the numpy,pandas and matplotlib packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
# Load the companies text file.

uber = pd.read_csv('Uber Request Data.csv',sep=",")

# Verify the uploaded Data frame
uber.head(25)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47
5,3879,Airport,1.0,Trip Completed,13-07-2016 21:57:28,13-07-2016 22:28:59
6,4270,Airport,1.0,Trip Completed,14-07-2016 06:15:32,14-07-2016 07:13:15
7,5510,Airport,1.0,Trip Completed,15-07-2016 05:11:52,15-07-2016 06:07:52
8,6248,City,1.0,Trip Completed,15-07-2016 17:57:27,15-07-2016 18:50:51
9,267,City,2.0,Trip Completed,11/7/2016 6:46,11/7/2016 7:25
10,1467,Airport,2.0,Trip Completed,12/7/2016 5:08,12/7/2016 6:02
11,1983,City,2.0,Trip Completed,12/7/2016 12:30,12/7/2016 12:57
12,2784,Airport,2.0,Trip Completed,13-07-2016 04:49:20,13-07-2016 05:23:03
13,3075,City,2.0,Trip Completed,13-07-2016 08:02:53,13-07-2016 09:16:19
14,3379,City,2.0,Trip Completed,13-07-2016 14:23:02,13-07-2016 15:35:18
15,3482,Airport,2.0,Trip Completed,13-07-2016 17:23:18,13-07-2016 18:20:51
16,4652,City,2.0,Trip Completed,14-07-2016 12:01:02,14-07-2016 12:36:46
17,5335,Airport,2.0,Trip Completed,14-07-2016 22:24:13,14-07-2016 23:18:52
18,535,Airport,3.0,Trip Completed,11/7/2016 10:00,11/7/2016 10:31
19,960,Airport,3.0,Trip Completed,11/7/2016 18:45,11/7/2016 19:23
20,1934,Airport,3.0,Trip Completed,12/7/2016 11:17,12/7/2016 12:23
21,2083,Airport,3.0,Trip Completed,12/7/2016 15:46,12/7/2016 16:40
22,2211,Airport,3.0,Trip Completed,12/7/2016 18:00,12/7/2016 18:28
23,3096,Airport,3.0,Trip Completed,13-07-2016 08:17:29,13-07-2016 09:22:37
24,3881,Airport,3.0,Trip Completed,13-07-2016 21:54:18,13-07-2016 22:51:23

In [29]:
# Check the Records count.
uber.shape
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
Request id           6745 non-null int64
Pickup point         6745 non-null object
Driver id            4095 non-null float64
Status               6745 non-null object
Request timestamp    6745 non-null object
Drop timestamp       2831 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.2+ KB

In [30]:
# Date formats are not alligned, replacing / with -
uber['Request timestamp']=uber['Request timestamp'].str.replace("/","-",case=False)
uber['Drop timestamp']=uber['Drop timestamp'].str.replace("/","-",case=False)

# Revalidating the data frame after aligning datetime fields
uber.head(25)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11-7-2016 11:51,11-7-2016 13:00
1,867,Airport,1.0,Trip Completed,11-7-2016 17:57,11-7-2016 18:47
2,1807,City,1.0,Trip Completed,12-7-2016 9:17,12-7-2016 9:58
3,2532,Airport,1.0,Trip Completed,12-7-2016 21:08,12-7-2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47
5,3879,Airport,1.0,Trip Completed,13-07-2016 21:57:28,13-07-2016 22:28:59
6,4270,Airport,1.0,Trip Completed,14-07-2016 06:15:32,14-07-2016 07:13:15
7,5510,Airport,1.0,Trip Completed,15-07-2016 05:11:52,15-07-2016 06:07:52
8,6248,City,1.0,Trip Completed,15-07-2016 17:57:27,15-07-2016 18:50:51
9,267,City,2.0,Trip Completed,11-7-2016 6:46,11-7-2016 7:25
10,1467,Airport,2.0,Trip Completed,12-7-2016 5:08,12-7-2016 6:02
11,1983,City,2.0,Trip Completed,12-7-2016 12:30,12-7-2016 12:57
12,2784,Airport,2.0,Trip Completed,13-07-2016 04:49:20,13-07-2016 05:23:03
13,3075,City,2.0,Trip Completed,13-07-2016 08:02:53,13-07-2016 09:16:19
14,3379,City,2.0,Trip Completed,13-07-2016 14:23:02,13-07-2016 15:35:18
15,3482,Airport,2.0,Trip Completed,13-07-2016 17:23:18,13-07-2016 18:20:51
16,4652,City,2.0,Trip Completed,14-07-2016 12:01:02,14-07-2016 12:36:46
17,5335,Airport,2.0,Trip Completed,14-07-2016 22:24:13,14-07-2016 23:18:52
18,535,Airport,3.0,Trip Completed,11-7-2016 10:00,11-7-2016 10:31
19,960,Airport,3.0,Trip Completed,11-7-2016 18:45,11-7-2016 19:23
20,1934,Airport,3.0,Trip Completed,12-7-2016 11:17,12-7-2016 12:23
21,2083,Airport,3.0,Trip Completed,12-7-2016 15:46,12-7-2016 16:40
22,2211,Airport,3.0,Trip Completed,12-7-2016 18:00,12-7-2016 18:28
23,3096,Airport,3.0,Trip Completed,13-07-2016 08:17:29,13-07-2016 09:22:37
24,3881,Airport,3.0,Trip Completed,13-07-2016 21:54:18,13-07-2016 22:51:23

In [31]:
# Date time fields are not aligned. Converting them to date time fields
uber['Request timestamp']=pd.to_datetime(uber['Request timestamp'])
uber['Drop timestamp']=pd.to_datetime(uber['Drop timestamp'])
uber.head(25)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00
20,1934,Airport,3.0,Trip Completed,2016-12-07 11:17:00,2016-12-07 12:23:00
21,2083,Airport,3.0,Trip Completed,2016-12-07 15:46:00,2016-12-07 16:40:00
22,2211,Airport,3.0,Trip Completed,2016-12-07 18:00:00,2016-12-07 18:28:00
23,3096,Airport,3.0,Trip Completed,2016-07-13 08:17:29,2016-07-13 09:22:37
24,3881,Airport,3.0,Trip Completed,2016-07-13 21:54:18,2016-07-13 22:51:23

In [32]:
# Validating unique entities assuming request id as key field
uber['Request id'].nunique()

6745

In [33]:
# Creating new column based on trip start and trip end. Duration field is in minutes
uber['Duration']=(uber['Drop timestamp']-uber['Request timestamp']).astype('timedelta64[m]')
uber

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Duration
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,69.0
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,50.0
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,41.0
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,55.0
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,52.0
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59,31.0
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15,57.0
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52,56.0
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51,53.0
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,39.0
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00,54.0
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00,27.0
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03,33.0
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19,73.0
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18,72.0
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51,57.0
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46,35.0
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52,54.0
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00,31.0
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00,38.0
20,1934,Airport,3.0,Trip Completed,2016-12-07 11:17:00,2016-12-07 12:23:00,66.0
21,2083,Airport,3.0,Trip Completed,2016-12-07 15:46:00,2016-12-07 16:40:00,54.0
22,2211,Airport,3.0,Trip Completed,2016-12-07 18:00:00,2016-12-07 18:28:00,28.0
23,3096,Airport,3.0,Trip Completed,2016-07-13 08:17:29,2016-07-13 09:22:37,65.0
24,3881,Airport,3.0,Trip Completed,2016-07-13 21:54:18,2016-07-13 22:51:23,57.0
25,5254,City,3.0,Trip Completed,2016-07-14 21:23:03,2016-07-14 22:25:19,62.0
26,5434,City,3.0,Trip Completed,2016-07-15 02:41:38,2016-07-15 03:24:43,43.0
27,5916,City,3.0,Trip Completed,2016-07-15 10:00:43,2016-07-15 10:53:06,52.0
28,669,City,4.0,Trip Completed,2016-11-07 13:08:00,2016-11-07 13:49:00,41.0
29,1567,Airport,4.0,Trip Completed,2016-12-07 06:21:00,2016-12-07 07:10:00,49.0
...,...,...,...,...,...,...,...
6715,6683,City,NaN,No Cars Available,2016-07-15 22:34:01,NaT,NaN
6716,6686,Airport,NaN,No Cars Available,2016-07-15 22:36:13,NaT,NaN
6717,6688,Airport,NaN,No Cars Available,2016-07-15 22:37:37,NaT,NaN
6718,6689,Airport,NaN,No Cars Available,2016-07-15 22:43:46,NaT,NaN
6719,6693,City,NaN,No Cars Available,2016-07-15 22:49:33,NaT,NaN
6720,6696,City,NaN,No Cars Available,2016-07-15 22:49:45,NaT,NaN
6721,6697,Airport,NaN,No Cars Available,2016-07-15 22:51:18,NaT,NaN
6722,6709,Airport,NaN,No Cars Available,2016-07-15 22:56:00,NaT,NaN
6723,6706,Airport,NaN,No Cars Available,2016-07-15 22:58:15,NaT,NaN
6724,6708,City,NaN,No Cars Available,2016-07-15 23:03:23,NaT,NaN
6725,6713,City,NaN,No Cars Available,2016-07-15 23:08:14,NaT,NaN
6726,6715,City,NaN,No Cars Available,2016-07-15 23:11:41,NaT,NaN
6727,6716,City,NaN,No Cars Available,2016-07-15 23:14:36,NaT,NaN
6728,6718,Airport,NaN,No Cars Available,2016-07-15 23:14:39,NaT,NaN
6729,6720,City,NaN,No Cars Available,2016-07-15 23:16:48,NaT,NaN
6730,6722,Airport,NaN,No Cars Available,2016-07-15 23:18:21,NaT,NaN
6731,6725,Airport,NaN,No Cars Available,2016-07-15 23:21:53,NaT,NaN
6732,6728,City,NaN,No Cars Available,2016-07-15 23:26:50,NaT,NaN
6733,6730,Airport,NaN,No Cars Available,2016-07-15 23:27:55,NaT,NaN
6734,6732,Airport,NaN,No Cars Available,2016-07-15 23:35:50,NaT,NaN
6735,6737,Airport,NaN,No Cars Available,2016-07-15 23:39:15,NaT,NaN
6736,6744,Airport,NaN,No Cars Available,2016-07-15 23:42:51,NaT,NaN
6737,6740,City,NaN,No Cars Available,2016-07-15 23:43:54,NaT,NaN
6738,6746,City,NaN,No Cars Available,2016-07-15 23:46:03,NaT,NaN
6739,6739,City,NaN,No Cars Available,2016-07-15 23:46:20,NaT,NaN
6740,6745,City,NaN,No Cars Available,2016-07-15 23:49:03,NaT,NaN
6741,6752,Airport,NaN,No Cars Available,2016-07-15 23:50:05,NaT,NaN
6742,6751,City,NaN,No Cars Available,2016-07-15 23:52:06,NaT,NaN
6743,6754,City,NaN,No Cars Available,2016-07-15 23:54:39,NaT,NaN
6744,6753,Airport,NaN,No Cars Available,2016-07-15 23:55:03,NaT,NaN

In [39]:
# Pick the hour from request timestamp. 
uber['Requested Hour']=uber['Request timestamp'].dt.hour

# Creating function to generate slots based on requested hour.
# 0:00 - 6:00 - Early Morning - EM
# 6:00 - 10:00 - Morning - M
# 10:00 - 16:000 - DayTime - D
# 16:00- 21:00 - Evening - E
# 21:00 - 0:00 -  Late Evening or Night - N

def validate(df):
    if df['Requested Hour'] <= 6:
        return "EM"
    if df['Requested Hour'] <= 10:
        return "M"
    if df['Requested Hour'] <= 16:
        return "D"
    if df['Requested Hour'] <= 21:
        return "E"
    if df['Requested Hour'] <= 23:
        return "N"

# Applying the function to create new column - slots.  
uber['slot']=uber.apply(validate,axis=1)
uber

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Duration,Requested Hour,slot
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,69.0,11,D
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,50.0,17,E
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,41.0,9,M
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,55.0,21,E
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,52.0,8,M
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59,31.0,21,E
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15,57.0,6,EM
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52,56.0,5,EM
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51,53.0,17,E
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,39.0,6,EM
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00,54.0,5,EM
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00,27.0,12,D
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03,33.0,4,EM
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19,73.0,8,M
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18,72.0,14,D
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51,57.0,17,E
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46,35.0,12,D
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52,54.0,22,N
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00,31.0,10,M
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00,38.0,18,E
20,1934,Airport,3.0,Trip Completed,2016-12-07 11:17:00,2016-12-07 12:23:00,66.0,11,D
21,2083,Airport,3.0,Trip Completed,2016-12-07 15:46:00,2016-12-07 16:40:00,54.0,15,D
22,2211,Airport,3.0,Trip Completed,2016-12-07 18:00:00,2016-12-07 18:28:00,28.0,18,E
23,3096,Airport,3.0,Trip Completed,2016-07-13 08:17:29,2016-07-13 09:22:37,65.0,8,M
24,3881,Airport,3.0,Trip Completed,2016-07-13 21:54:18,2016-07-13 22:51:23,57.0,21,E
25,5254,City,3.0,Trip Completed,2016-07-14 21:23:03,2016-07-14 22:25:19,62.0,21,E
26,5434,City,3.0,Trip Completed,2016-07-15 02:41:38,2016-07-15 03:24:43,43.0,2,EM
27,5916,City,3.0,Trip Completed,2016-07-15 10:00:43,2016-07-15 10:53:06,52.0,10,M
28,669,City,4.0,Trip Completed,2016-11-07 13:08:00,2016-11-07 13:49:00,41.0,13,D
29,1567,Airport,4.0,Trip Completed,2016-12-07 06:21:00,2016-12-07 07:10:00,49.0,6,EM
...,...,...,...,...,...,...,...,...,...
6715,6683,City,NaN,No Cars Available,2016-07-15 22:34:01,NaT,NaN,22,N
6716,6686,Airport,NaN,No Cars Available,2016-07-15 22:36:13,NaT,NaN,22,N
6717,6688,Airport,NaN,No Cars Available,2016-07-15 22:37:37,NaT,NaN,22,N
6718,6689,Airport,NaN,No Cars Available,2016-07-15 22:43:46,NaT,NaN,22,N
6719,6693,City,NaN,No Cars Available,2016-07-15 22:49:33,NaT,NaN,22,N
6720,6696,City,NaN,No Cars Available,2016-07-15 22:49:45,NaT,NaN,22,N
6721,6697,Airport,NaN,No Cars Available,2016-07-15 22:51:18,NaT,NaN,22,N
6722,6709,Airport,NaN,No Cars Available,2016-07-15 22:56:00,NaT,NaN,22,N
6723,6706,Airport,NaN,No Cars Available,2016-07-15 22:58:15,NaT,NaN,22,N
6724,6708,City,NaN,No Cars Available,2016-07-15 23:03:23,NaT,NaN,23,N
6725,6713,City,NaN,No Cars Available,2016-07-15 23:08:14,NaT,NaN,23,N
6726,6715,City,NaN,No Cars Available,2016-07-15 23:11:41,NaT,NaN,23,N
6727,6716,City,NaN,No Cars Available,2016-07-15 23:14:36,NaT,NaN,23,N
6728,6718,Airport,NaN,No Cars Available,2016-07-15 23:14:39,NaT,NaN,23,N
6729,6720,City,NaN,No Cars Available,2016-07-15 23:16:48,NaT,NaN,23,N
6730,6722,Airport,NaN,No Cars Available,2016-07-15 23:18:21,NaT,NaN,23,N
6731,6725,Airport,NaN,No Cars Available,2016-07-15 23:21:53,NaT,NaN,23,N
6732,6728,City,NaN,No Cars Available,2016-07-15 23:26:50,NaT,NaN,23,N
6733,6730,Airport,NaN,No Cars Available,2016-07-15 23:27:55,NaT,NaN,23,N
6734,6732,Airport,NaN,No Cars Available,2016-07-15 23:35:50,NaT,NaN,23,N
6735,6737,Airport,NaN,No Cars Available,2016-07-15 23:39:15,NaT,NaN,23,N
6736,6744,Airport,NaN,No Cars Available,2016-07-15 23:42:51,NaT,NaN,23,N
6737,6740,City,NaN,No Cars Available,2016-07-15 23:43:54,NaT,NaN,23,N
6738,6746,City,NaN,No Cars Available,2016-07-15 23:46:03,NaT,NaN,23,N
6739,6739,City,NaN,No Cars Available,2016-07-15 23:46:20,NaT,NaN,23,N
6740,6745,City,NaN,No Cars Available,2016-07-15 23:49:03,NaT,NaN,23,N
6741,6752,Airport,NaN,No Cars Available,2016-07-15 23:50:05,NaT,NaN,23,N
6742,6751,City,NaN,No Cars Available,2016-07-15 23:52:06,NaT,NaN,23,N
6743,6754,City,NaN,No Cars Available,2016-07-15 23:54:39,NaT,NaN,23,N
6744,6753,Airport,NaN,No Cars Available,2016-07-15 23:55:03,NaT,NaN,23,N

In [40]:
# Create new ride types column to ease analysis

def ridetype(df):
    if df['Pickup point'] =='Airport':
        return "Towards City"
    if df['Pickup point'] =='City':
        return "Towards Airport"

# Applying the function to create new column - slots.  
uber['Ride Type']=uber.apply(ridetype,axis=1)
uber

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Duration,Requested Hour,slot,Ride Type
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,69.0,11,D,Towards City
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,50.0,17,E,Towards City
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,41.0,9,M,Towards Airport
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,55.0,21,E,Towards City
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,52.0,8,M,Towards Airport
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59,31.0,21,E,Towards City
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15,57.0,6,EM,Towards City
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52,56.0,5,EM,Towards City
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51,53.0,17,E,Towards Airport
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,39.0,6,EM,Towards Airport
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00,54.0,5,EM,Towards City
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00,27.0,12,D,Towards Airport
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03,33.0,4,EM,Towards City
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19,73.0,8,M,Towards Airport
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18,72.0,14,D,Towards Airport
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51,57.0,17,E,Towards City
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46,35.0,12,D,Towards Airport
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52,54.0,22,N,Towards City
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00,31.0,10,M,Towards City
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00,38.0,18,E,Towards City
20,1934,Airport,3.0,Trip Completed,2016-12-07 11:17:00,2016-12-07 12:23:00,66.0,11,D,Towards City
21,2083,Airport,3.0,Trip Completed,2016-12-07 15:46:00,2016-12-07 16:40:00,54.0,15,D,Towards City
22,2211,Airport,3.0,Trip Completed,2016-12-07 18:00:00,2016-12-07 18:28:00,28.0,18,E,Towards City
23,3096,Airport,3.0,Trip Completed,2016-07-13 08:17:29,2016-07-13 09:22:37,65.0,8,M,Towards City
24,3881,Airport,3.0,Trip Completed,2016-07-13 21:54:18,2016-07-13 22:51:23,57.0,21,E,Towards City
25,5254,City,3.0,Trip Completed,2016-07-14 21:23:03,2016-07-14 22:25:19,62.0,21,E,Towards Airport
26,5434,City,3.0,Trip Completed,2016-07-15 02:41:38,2016-07-15 03:24:43,43.0,2,EM,Towards Airport
27,5916,City,3.0,Trip Completed,2016-07-15 10:00:43,2016-07-15 10:53:06,52.0,10,M,Towards Airport
28,669,City,4.0,Trip Completed,2016-11-07 13:08:00,2016-11-07 13:49:00,41.0,13,D,Towards Airport
29,1567,Airport,4.0,Trip Completed,2016-12-07 06:21:00,2016-12-07 07:10:00,49.0,6,EM,Towards City
...,...,...,...,...,...,...,...,...,...,...
6715,6683,City,NaN,No Cars Available,2016-07-15 22:34:01,NaT,NaN,22,N,Towards Airport
6716,6686,Airport,NaN,No Cars Available,2016-07-15 22:36:13,NaT,NaN,22,N,Towards City
6717,6688,Airport,NaN,No Cars Available,2016-07-15 22:37:37,NaT,NaN,22,N,Towards City
6718,6689,Airport,NaN,No Cars Available,2016-07-15 22:43:46,NaT,NaN,22,N,Towards City
6719,6693,City,NaN,No Cars Available,2016-07-15 22:49:33,NaT,NaN,22,N,Towards Airport
6720,6696,City,NaN,No Cars Available,2016-07-15 22:49:45,NaT,NaN,22,N,Towards Airport
6721,6697,Airport,NaN,No Cars Available,2016-07-15 22:51:18,NaT,NaN,22,N,Towards City
6722,6709,Airport,NaN,No Cars Available,2016-07-15 22:56:00,NaT,NaN,22,N,Towards City
6723,6706,Airport,NaN,No Cars Available,2016-07-15 22:58:15,NaT,NaN,22,N,Towards City
6724,6708,City,NaN,No Cars Available,2016-07-15 23:03:23,NaT,NaN,23,N,Towards Airport
6725,6713,City,NaN,No Cars Available,2016-07-15 23:08:14,NaT,NaN,23,N,Towards Airport
6726,6715,City,NaN,No Cars Available,2016-07-15 23:11:41,NaT,NaN,23,N,Towards Airport
6727,6716,City,NaN,No Cars Available,2016-07-15 23:14:36,NaT,NaN,23,N,Towards Airport
6728,6718,Airport,NaN,No Cars Available,2016-07-15 23:14:39,NaT,NaN,23,N,Towards City
6729,6720,City,NaN,No Cars Available,2016-07-15 23:16:48,NaT,NaN,23,N,Towards Airport
6730,6722,Airport,NaN,No Cars Available,2016-07-15 23:18:21,NaT,NaN,23,N,Towards City
6731,6725,Airport,NaN,No Cars Available,2016-07-15 23:21:53,NaT,NaN,23,N,Towards City
6732,6728,City,NaN,No Cars Available,2016-07-15 23:26:50,NaT,NaN,23,N,Towards Airport
6733,6730,Airport,NaN,No Cars Available,2016-07-15 23:27:55,NaT,NaN,23,N,Towards City
6734,6732,Airport,NaN,No Cars Available,2016-07-15 23:35:50,NaT,NaN,23,N,Towards City
6735,6737,Airport,NaN,No Cars Available,2016-07-15 23:39:15,NaT,NaN,23,N,Towards City
6736,6744,Airport,NaN,No Cars Available,2016-07-15 23:42:51,NaT,NaN,23,N,Towards City
6737,6740,City,NaN,No Cars Available,2016-07-15 23:43:54,NaT,NaN,23,N,Towards Airport
6738,6746,City,NaN,No Cars Available,2016-07-15 23:46:03,NaT,NaN,23,N,Towards Airport
6739,6739,City,NaN,No Cars Available,2016-07-15 23:46:20,NaT,NaN,23,N,Towards Airport
6740,6745,City,NaN,No Cars Available,2016-07-15 23:49:03,NaT,NaN,23,N,Towards Airport
6741,6752,Airport,NaN,No Cars Available,2016-07-15 23:50:05,NaT,NaN,23,N,Towards City
6742,6751,City,NaN,No Cars Available,2016-07-15 23:52:06,NaT,NaN,23,N,Towards Airport
6743,6754,City,NaN,No Cars Available,2016-07-15 23:54:39,NaT,NaN,23,N,Towards Airport
6744,6753,Airport,NaN,No Cars Available,2016-07-15 23:55:03,NaT,NaN,23,N,Towards City

In [43]:
#validating the data frame for null values to get insights
uber.isnull().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
Duration             3914
Requested Hour          0
slot                    0
Ride Type               0
dtype: int64